.main
{
    width:48vw;
    height: 80vh;
    background-color: #edf6f9;
    border-radius:0.5rem;
}

.main__content
{
    width: 100%;
    display:flex;
}
.left__content
{
flex:0.4;
}


.right__content
{
    flex:0.6;
    margin-right: 10px;
    border:1px solid #ff8508;
    display: grid;
    height: 300px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-row-gap:2px;
    overflow: auto;
}

.right__content::-webkit-scrollbar
{
    display: none;
}
