.sidebar{
    padding-left: 10px;
    margin: 0 5px;
    border:1px solid #ff8508;
    overflow: auto;
    height: 100%;
    border-radius:10px;
}


.sidebar__categories
{
    display:flex;
    flex-direction:column;
    margin:4px 0 ;
}